ETHEREUM_MAINNET_RPC=
POLYGON_MAINNET_RPC=
OPTIMISM_MAINNET_RPC=
ARBITRUM_MAINNET_RPC=
GNOSIS_RPC=
BSC_RPC=
ETHEREUM_SEPOLIA_RPC=
POLYGON_MUMBAI_RPC=
ARBITRUM_SEPOLIA_RPC=
OPTIMISM_SEPOLIA_RPC=

ETHERSCAN_API_KEY=

DEPLOYER_PRIVATE_KEY=

XERC20_FACTORY_ADDRESS=
